<div class="app-container">
  <header>
    <h1>Pogodynka</h1>
    <div class="additional-info">
      <p>"Nie ma złej pogody, są tylko niewłaściwe ubrania" - Alfred Wainwright</p>
    </div>
    <div class="search-bar">
      <input type="text" placeholder="Wprowadź miasto" [(ngModel)]="city" />
      <button (click)="getWeather()">Pobierz dane</button>
    </div>
  </header>
    <!-- Menu nawigacyjne -->
    <nav class="menu">
      <button (click)="showView('pogoda')">Pogoda</button>
      <button (click)="showView('imieniny')">Imieniny</button>
      <button (click)="showView('pogoda7dni')">Pogoda na 5 dni</button>
      <button (click)="showView('nasa')">NASA Picture of the Day</button>
    </nav>
  <main>
    <!-- Sekcja pogody -->
    <div *ngIf="currentView === 'pogoda'">
      <div class="weather-card">
        <div class="weather-info h2">
          <h2>{{ weather.name }}</h2>
        </div>
        <div class="weather-main">
          <img [src]="getWeatherIcon(weather.weather[0].main)" alt="Weather Icon" />
          <p class="temperature">{{ weather.main.temp }}°C</p>
        </div>
        <p class="description">{{ translateWeather(weather.weather[0].description) }}</p>
        <div class="additional-info">
          <p>Wilgotność: {{ weather.main.humidity }}%</p>
          <p>Wiatr: {{ weather.wind.speed }} km/h</p>
        </div>
      </div>
    </div>



        <!-- Sekcja imienin -->
        <div *ngIf="currentView === 'imieniny'">
          <div class="weather-card">
          <div class="names-card">
            <div class="imieniny">
            <h2>Imieniny</h2>
            <p>Dziś imieniny obchodzą:</p>
            <ul>
              <li *ngFor="let name of getTodayImieniny()">{{ name }}</li>
            </ul>
          </div>
        </div>
        </div>
      </div>



<!-- Sekcja pogoda 5 dni -->
<div *ngIf="currentView === 'pogoda7dni'" >
  <div class="weather-card-forecast">        
    <div class="weather-info h2">
    <h2>Prognoza na najbliższe 5 dni dla {{ city }}</h2>
  </div>

  <div class="forecast-row">

    <div *ngFor="let day of forecast" class="forecast-day">
      
      <div class="description-5dni"> {{ day.dt_txt | date: 'fullDate' }}</div>
      <div class="description-title">Temperatura: </div><div class="description-info">min {{ day.main.temp_min }}°C  |  max {{ day.main.temp_max }}°C</div>
      <div class="description-title">Warunki:</div><div class="description-info">  {{ translateWeather(day.weather[0].description) }}</div>
      <img [src]="getWeatherIcon(weather.weather[0].main)" alt="Weather Icon" />
    </div>
  </div>

</div>
</div>
<div class="weather-card-forecast"> 
<div *ngIf="currentView === 'nasa'" class="nasa-container">
  
  <div class="weather-info h2"><h2>NASA Picture of the Day</h2></div>
  <div *ngIf="nasaData">
    <div class="description-5dni"> <h3>{{ nasaData.title }}</h3>
    <p>{{ nasaData.date }}</p></div>
    <img *ngIf="nasaData.media_type === 'image'" [src]="nasaData.url" alt="Astronomy Picture" />
    <iframe *ngIf="nasaData.media_type === 'video'" [src]="nasaData.url" frameborder="0"></iframe>
    <div class="description-info"> <p>{{ nasaData.explanation }}</p></div>
  </div>
</div>
</div>

</main>
</div>

    


<footer class="app-footer">
  <p>Aplikacja pogodowa Pogodynka 🌦️🌈✨ | 2025 | Patrycja Łączka</p>
  <p>Stworzone przy użyciu Angular i OpenWeather API</p>
  <p>Źródło danych: <a href="https://openweathermap.org/">OpenWeather</a></p>
</footer>
